<%- include('header'); -%>



<!--<h1> About Us !!! </h1>-->

<div class="about">
<div class="row">

<div  class="col-sm-12 col-md-4 col-lg-4">
<img class="mypic" src="images/myphoto.jpg">
</div>

<div class="col-sm-12 col-md-8 col-lg-8">
<h2 class="h1">Vinayak Surshetty </h2>
<h5> Developer of this site</h5>
<p class="p"> I am Vinayak Surshetty a B.Sc.(I.T.) student pursuing education from K.C. College under Mumbai University.I am an aspirant of Full Stack Web Development. This is my first attemt of creating my own full stack web app.Hope you like it. </p>
</div>

</div>
</div>

<hr>
<!-- images with info -->

<div>

 <div class="abt-div">
 <div class="row">
 <div  class="col-sm-12 col-md-4 col-lg-4">
 <img  class="abt-img" src="images/easy.jpg"  alt="Easy to use">
  </div>
  <div class="col-sm-12 col-md-8 col-lg-8">
       <h1> User Friendly</h1>
        <p>This site is user friendly and easy to use.It has got a simple and easy to understand navigation bar from where you can navigate to different pages on the website.Also if you have any problems you can checkout the footer of the website or go to /help.</p>
  </div>

 </div>
 <div>


<div class="abt-div">
<div class="row">
       <div class="col-sm-12 col-md-4 col-lg-4">
        <img  class="abt-img" src="images/write.png"   alt="Write it out!!">
        </div>
        <div class="col-sm-12 col-md-8 col-lg-8">
        <h1> Write It Out! </h1>
        <p>Write it out !! You can write out blogs and show it to everyone.You can show your writings to everyone.Your writings will be displayed on the main blogs page .Also you can manage your blogs in settings.</p>
      </div>
 </div>
 </div>

<div class="abt-div">
 <div class="row">
 <div class="col-sm-12 col-md-4 col-lg-4">
 <img class="abt-img" src="images/signIn.jpg" alt="Google/FB">
  </div>

   <div class="col-sm-12 col-md-8 col-lg-8">    
        <h1>Login Options </h1>
        <p>Dont want to mess around by remembering your password everytime you login ? Use Google/Facebook and login just on click of button without entering any passwords.</p>
  </div>
 </div>
</div>

<div class="abt-div">
 <div class="row">
 <div class="col-sm-12 col-md-4 col-lg-4">
 <img class="abt-img" src="images/mobile.jpg" alt="Google/FB">
  </div>

   <div class="col-sm-12 col-md-8 col-lg-8">    
        <h1>Responsive </h1>
        <p>This website is a responsive website in the sense you can use it on any device i.e. laptops, desktop and most importantly mobile phones.</p>
  </div>
 </div>
</div>

</div>
</div>
</div>

<%- include('footer'); -%>