<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" >
	<link rel="stylesheet" type="text/css" href= "css/index.css">

</head>
<body>

	<div class="jumbotron jumbotron-fluid  faliure">
  <div class="container ">

  	<h1 style="text-align: left;">OOPS !!  Something went wrong</h1>
	<p> <%= faliure %> </p>


	

   
  </div>
</div>


	
</body>
</html>