




</div>

<div class=" jumbotron footer">
  <p  style="color:black;text-align:center;margin-top:30px" >&copy; Copyright 2020 Vinayak Surshetty<br>Contact if any Query<br>Connect to me using the below links!!!</p>
  
  <div class="footer1">
		<a href="https://wa.me/+918291614687?text=Hey%20Vinayak," ><img class="footer2" src="images/whatsapp.svg" ></a>

		<a href="https://www.instagram.com/surshettyv" ><img class="footer2"  src="images/brands-and-logotypes.svg" ></a>
		
		<a href="https://www.facebook.com/search/top/?q=Vinayak%20Surshetty&epa=SEARCH_BOX" ><img class="footer2"  src="images/brands-and-logotypes%20(1).svg"  ></a>
		
		<a href="mailto:vnksurshetty@gmail.com?subject=I have a query&body=Hey Vinayak," ><img class="footer2"   src="images/logotype.svg" ></a>
	</div>
</div>

<script type="text/javascript" src="public/script.js"></script>

</body>
</html> 