
  




</div>

<div class=" jumbotron footer">
  <p  style="color:black;text-align:center;margin-top:60px" >&copy; Copyright 2020 Vinayak Surshetty</p>
  
  <div class="footer1">
		<a href="https://wa.me/+918291614687?text=Hey%20Vinayak," data-toggle="popover" title="Whatsapp contact ?" data-trigger="hover" ><img class="footer2" src="images/whatsapp.svg" ></a>

		<a href="https://www.instagram.com/surshettyv" data-toggle="popover" title="Connect to us" data-trigger="hover" ><img class="footer2"  src="images/brands-and-logotypes.svg" ></a>
		
		<a href="https://www.facebook.com/search/top/?q=Vinayak%20Surshetty&epa=SEARCH_BOX" data-toggle="popover" title="Follow on Facebook" data-trigger="hover" ><img class="footer2"  src="images/brands-and-logotypes%20(1).svg"  ></a>
		
		<a href="mailto:vnksurshetty@gmail.com?subject=I have a query&body=Hey Vinayak," data-toggle="popover" title="Need Some Help? Feel free to write to us through email." data-trigger="hover" ><img class="footer2"   src="images/logotype.svg" ></a>
	</div>
	<p style="color:black;text-align:center;margin-top:10px" >Contact if any Query<br>Connect to me using the above links!!!</p>
</div>

</body>

  <script type="text/javascript"  src="js/index.js"></script>
  <script type="text/javascript"  src="js/react.js"></script>

</html> 