<!DOCTYPE html>
<html>
<head>
   <link rel="icon" type="image/x-icon" href="favicon.ico">
	<title>  Where you can share your thoughts</title>

 
  <!-- bootstrap -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
  
  <!--font electrolize-->
  <link href="https://fonts.googleapis.com/css?family=Electrolize&display=swap" rel="stylesheet">
    <!-- font: Monoton,Tinos,AL Messiri-->
  <link href="https://fonts.googleapis.com/css?family=El+Messiri|Monoton|Tinos&display=swap" rel="stylesheet"> 
    <!-- font: Cursive-->
  <link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet"> 

  <!-- social buttons for google and facebook and many more -->
  <link rel="stylesheet" type="text/css" href="css/button.css">

  <!-- fontawesome icons -->
  <link rel="stylesheet" type="text/css" href="fontawesome/css/all.min.css">

  <!--Our own css file -->
	<link rel="stylesheet" type="text/css" href= "css/index.css">



<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/bootstrap.bundle.min.js"></script>

</head>

<div id="this_is_header">


<nav id="navigation" class="navbar  navbar-expand-lg  "> 
  <a  class="navbar-brand head-anchor" href="/"><img src="images/favicon_img.jpg" style="border-radius: 50%;border:5px solid gold;" width="25%"> 
    <!--My<span id="head_span">Blog</span>-->   <span id="head_span_2">  MyBlog </span></a>


<button class="navbar-toggler " id="head-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon" id="head-toggler"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
     
 <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          MENU
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/">Home</a>
          <a class="dropdown-item" href="/about_us">About</a>
          <a class="dropdown-item" href="/settings">Settings</a>
          <a class="dropdown-item" href="/display">Display</a>
          <a class="dropdown-item" href="/submit">Compose</a>
          <a class="dropdown-item" href="/help">Help</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/logout">Log Out</a>
        </div>
 </li>
 </ul>
     
  </div>

</nav>

</div>





<body>
 <div class="jumbotron">


  <div style="margin-bottom: 30px;width:auto;padding:2px;text-align: right;">
  <button id="dark" class="btn btn-dark"> Dark</button>
   <button id="normal" class="btn btn-light">Normal</button>
   </div>
 


