<!DOCTYPE html>
<html>
<head>
	<title>Write it out !!!</title>
  <link rel="icon" type="image/x-icon" href="favicon.ico">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <!--font electrolize-->
  <link href="https://fonts.googleapis.com/css?family=Electrolize&display=swap" rel="stylesheet">
    <!-- font: Monoton,Tinos,AL Messiri-->
  <link href="https://fonts.googleapis.com/css?family=El+Messiri|Monoton|Tinos&display=swap" rel="stylesheet">  

  <link rel="stylesheet" type="text/css" href="css/button.css">
	<link rel="stylesheet" type="text/css" href= "css/index.css">
  <!--<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">-->

  
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>


</head>

<nav id="navigation" class="navbar  navbar-expand-lg  "> <!-- navbar-dark bg-dark -->
  <a  class="navbar-brand head-anchor" href="/"><img src="images/blog.svg" width="30%"> My<span id="head_span">Blog</span></a>
<button class="navbar-toggler " id="head-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon" id="head-toggler"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      
      <!--<li class="nav-item">
       
        <a class="nav-link" href="/profile" ><img width="40px" src="images/user.svg"><br>profile </a>
        
      
      </li>-->
      <li class="nav-item">
        
      <a class="nav-link head-anchor navigate" href="/about_us" ><!--<img width="40px" src="images/settings.svg"><br>-->
        <p class="p">About</p> </a>
        
      </li>
      <li class="nav-item">
        
      <a class="nav-link head-anchor navigate" href="/settings" ><!--<img width="40px" src="images/settings.svg"><br>-->
        <p class="p">Settings</p> </a>
        
      </li>
        <li class="nav-item">
          
        <a class="nav-link head-anchor navigate" href="/display"> <!--<img width="40px" src="images/article.svg"><br>-->
          <p class="p">Blogs </p></a>
        
      </li>
      <li class="nav-item">
        
        <a class="nav-link head-anchor navigate" href="/help"><!--<img width="40px" src="images/help.svg"><br>-->     
          <p class="p">Help</p></a>
        
      </li>
      
      <li class="nav-item">
        
        <a class="nav-link head-anchor navigate" href="/logout"><!--<img width="40px" src="images/logout.svg"><br>-->
       <p class="p">Log Out</p></a>
        
      </li>
      
      
      
    </ul>
  </div>

</nav>

<body>
 <div class="jumbotron">


