<%- include('header'); -%>

<h1> Here you can get help incase you are confused !!! </h>


<h3> Navigation ! </h3>
<h5 style="margin-bottom:10px;color:red;text-align:left;"> The navigation bar may not work in mobile phones or tablet devices, hence you can read through this page to navigate through the website </h5>
<hr style="border-top: 2px solid;width:100%;">
<div class="mesage">
  <p style="color:green"> 1). If you are on some page on this website and you want to return back to the home page, then just click on the Brand i.e.<span style="text-decoration:underline;color:red">"MyBlog"</span>  on top left </p>
</div>

<hr style="border-top: 2px solid;width:100%;">

<div class="mesage">
   <p style="color:green"> 2). If you want to view the page displaying all the blogs, then you can just append <span style="text-decoration:underline;color:red">"/display"</span> to the main URL of this website.</p>
</div>

<hr style="border-top: 2px solid;width:100%;">

<div class="mesage">
 <p style="color:green"> 3). Also if you want to publish your own blog just append <span style="text-decoration:underline;color:red;">"/submit" </span>to the main URL. For authentication it will take to to the Log In page and leave you back to Home page from where you can perform same step again to go to the compose page.</p>
</div>

<hr style="border-top: 2px solid;width:100%;">

<div class="mesage">
 <p style="color:green">4). To go to settings append <span style="text-decoration:underline;color:red;"> "/settings"</span> to the main URL. In case you are not logged in, it will take to to login page and leave you back to Home page from where you can perform same step again to go to the settings page. </p>
</div>

<hr style="border-top: 2px solid;width:100%;">

<div class="mesage">
 <p style="color:green">5). You can also search a specifc blog by using the Title of the blog by appending the title to the main URL <span style="text-decoration:underline;color:red;"> "/posts/title"</span></p>
</div>

<hr style="border-top: 2px solid;width:100%;">

<div class="mesage">
 <h4> If you have some other query you can contact me using any of the options in the footer below !!! </h4>
 
</div>



<%- include('footer'); -%>