<%- include('header'); -%>

<h3> Create your profile !!! </h3>

<form action="/profile" class="form"  method="post">
  
<div class="form">

  <div class="form-group">
    <label for="exampleInputEmail1">NEW Email address (if any)</label>
    <input type="email"  name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
 
 </div>
  
  <button type="submit" class="btn btn-primary btn-lg">Update!!</button>
 
</form>

<%- include('footer'); -%>