<%- include('header'); -%>

<h2> Hey <span id="recognize"><%=name %> </span>here you are !! Post your blog now !</h2>
<h2> Here you can post your own writings!!</h2>
<form action="/submit" method="POST">

      <div class="form-group ">
        <input type="text" id="ta2" class="form-control text-center" name="title" placeholder="What's the title?">
        <textarea rows="10"   columns="100"  id="ta1" name="message" placeholder="Type your message over here !!!!" ></textarea>
      </div>
      <button type="submit"  class="btn btn-success">Post your blog </button>
</form>

   



<%- include('footer'); -%>