<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" >
	<link rel="stylesheet" type="text/css" href= "css/index.css">

</head>
<body>

	<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 style="text-align: left;">Success !!!</h1>
	<p><%= success %></p>
	
	<a href="/" class="btn btn-warning " style="position: absolute;left:160px;border:none;margin-top: 10px;"> Go to Home </a>

  </div>
</div>


	
</body>
</html>