<!--<% for(var i=0; i<usersWithMessage.length; i++) { %>

    <% for(var j=0; j<usersWithMessage[i].blog.length; j++) { %>

   <div class="message">

      <h1 id="h1"> <%= usersWithMessage[i].blog[j].title %>   </h1>
      <h3 id="h3"> <%= usersWithMessage[i].blog[j].date %>    </h3>
              <p>  <%= usersWithMessage[i].blog[j].message.substring(0,150) %>  <a href="/posts/<%= usersWithMessage[i].blog[j].title %>" > read more </a> </p>

   </div>


   <% } %>

  <% } %>-->
    



<!--     Weather API   -->

<!--<div class="message margin_more ">

<h1 >Search your city's weather !! </h1>
<div class="row">

<div class="col-lg-6 col-md-6 col-sm-12 weather" >
  <form action="/" method="post">
  <input type="text" name="cityname" placeholder="search by city">
  <input type="submit" class="btn btn-dark" name="submit" value="search">
  </form>
</div>



<div class="col-lg-6 col-md-6 col-sm-12 weather">

<p>It is <span style="color:red;"> <%= temp %> </span> degrees here in <span style="color:red;"> <%= city %>  </span></p>
<p>Feels like <span style="color:red;"> <%=feels_like%> </span></p>
<p>Humidity <span style="color:red;"> <%= humidity%> % </span></p>

</div>

</div>
</div> -->
