<!--<% for(var i=0; i<usersWithMessage.length; i++) { %>

    <% for(var j=0; j<usersWithMessage[i].blog.length; j++) { %>

   <div class="message">

      <h1 id="h1"> <%= usersWithMessage[i].blog[j].title %>   </h1>
      <h3 id="h3"> <%= usersWithMessage[i].blog[j].date %>    </h3>
              <p>  <%= usersWithMessage[i].blog[j].message.substring(0,150) %>  <a href="/posts/<%= usersWithMessage[i].blog[j].title %>" > read more </a> </p>

   </div>


   <% } %>

  <% } %>-->
    



<!--     Weather API   -->

<!--<div class="message margin_more ">

<h1 >Search your city's weather !! </h1>
<div class="row">

<div class="col-lg-6 col-md-6 col-sm-12 weather" >
  <form action="/" method="post">
  <input type="text" name="cityname" placeholder="search by city">
  <input type="submit" class="btn btn-dark" name="submit" value="search">
  </form>
</div>



<div class="col-lg-6 col-md-6 col-sm-12 weather">

<p>It is <span style="color:red;"> <%= temp %> </span> degrees here in <span style="color:red;"> <%= city %>  </span></p>
<p>Feels like <span style="color:red;"> <%=feels_like%> </span></p>
<p>Humidity <span style="color:red;"> <%= humidity%> % </span></p>

</div>

</div>
</div> -->





<!--This is carousel -->

<!--<div id="carouselExampleControls" class="carousel slide message" data-ride="true" data-interval="2000" data-hover="true" >
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="images/easy.jpg" class="d-block caro-img" width="40%" alt="Easy to use">
      <h1 >Easy to use !!!</h1>
        <p>This site is user friendly and easy to use.</p>
    </div>
    <div class="carousel-item">
      <img src="images/write.png" class="d-block caro-img" width="40%" alt="Write it out!!">
      <h1>Write it out !!</h1>
        <p>You can write our blogs and show it to everyone.</p>
    </div>
    <div class="carousel-item">
      <img src="images/signIn.jpg" class="d-block caro-img" width="40%" alt="Google/FB">
      <h1>Sign in with Google/Facebook</h1>
        <p>Dont want to mess around by remembering your password everytime you login ? Use Google/Facebook and login just on click of button without entering any passwords</p>                             
        </div>
  </div>
<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" ></span>
    </a>

  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" ></span>
  </a>
</div>-->
