<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" >
	<link rel="stylesheet" type="text/css" href= "css/index.css">

</head>
<body>

	<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>Are you Sure that you want to delete your blog ?</h1>
	
	
	<a href="/settings/myblog/delete" class="btn btn-danger " > Yes </a>
    <a href="/myblogs" class="btn btn-success "> No </a>

  </div>
</div>


	
</body>
</html>